.header {
  font-size: 22px;
  color: black;
  position: absolute;
  top: 0;
  width: 100%;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 20px;
  top: 0;
  display: none;
}
.header__toggle {
  position: absolute;
  right: 5px;
  top: 11px;
}
.header__logo {
  position: absolute;
  left: 15px;
  top: 17px;
}
.header__logo__svg {
  height: 18px;
  width: auto;
}
.header__ul,
.header .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.header--animation {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header--beforesticky {
  -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2509803922);
  background: white;
  height: 53px;
  left: 0;
  position: fixed;
  top: -100%;
  width: 100%;
  z-index: 8;
}
.header--sticky {
  top: 0%;
}

@media (min-width: 760px) {
  .header {
    height: 63px;
    top: 10px;
  }
  .header--beforesticky {
    top: -100%;
  }
  .header__toggle {
    top: 17px;
  }
  .header--sticky {
    top: 0;
  }
  .header__nav__a {
    font: bold 22px/22px "Roboto", sans-serif;
    color: #1CD3C1;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .header__nav__a:hover {
    color: #009688;
  }
  .header__nav__a:after {
    content: "";
    background: #1CD3C1;
    height: 2px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 3px;
    width: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .header__nav__a.active:after {
    width: 25px;
  }
  .header__logo {
    top: 21px;
  }
  .header__logo__svg {
    height: 24px;
  }
  .header__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    top: 11px;
  }
  .header--sticky .header__nav__a.active {
    color: black;
  }
  .header--sticky .header__nav__a.active:after {
    background: black;
  }
  .header--sticky .social__a:hover {
    background: black;
  }
  .header--sticky .social__a:hover svg {
    fill: white;
  }
  .header--sticky .social__a:hover::after {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 945px) {
  .header__toggle {
    display: none;
  }
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    top: 11px;
  }
}