.section--about {
  background: #F1F1F1;
  padding: 42px 0 35px;
}

.mod__about__text {
  font: 400 16px/22px "Roboto", sans-serif;
  margin: 0 0 30px;
}
.mod__about__figure {
  border-radius: 125px;
  background: white;
  position: relative;
  overflow: hidden;
  margin: 25px auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 172px;
  width: 172px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
}
.mod__about__img {
  height: auto;
  width: 100%;
}

.skills__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}