html,
body {
  height: 100%;
}

.home {
  padding: 0 0 50px;
}
.home__span {
  display: block;
}
.home__span-med {
  font: 400 28px/33px "Roboto", sans-serif;
}
.home__span-big {
  font: bold 39px/42px "Roboto", sans-serif;
}
.home__span-sma {
  font: 400 24px/28px "Roboto", sans-serif;
  color: #1CD3C1;
  margin: 12px 0 0;
}
.home__desc {
  font: 400 16px/22px "Roboto", sans-serif;
  margin: 40px auto 70px;
  max-width: 333px;
}
.home__scroll {
  position: absolute;
  bottom: 30px;
  height: 50px;
  width: 50px;
}
.home__scroll:before, .home__scroll:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  position: relative;
  left: 16px;
}
.home__scroll:before {
  -webkit-animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.home__scroll:after {
  -webkit-animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes down-arrow-before {
  50% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
}

@keyframes down-arrow-before {
  50% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
}
@-webkit-keyframes down-arrow-after {
  50% {
    -webkit-transform: rotate(45deg) translate(110%, 110%);
            transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    -webkit-transform: rotate(45deg) translate(-130%, -130%);
            transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-70%, -70%);
            transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}
@keyframes down-arrow-after {
  50% {
    -webkit-transform: rotate(45deg) translate(110%, 110%);
            transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    -webkit-transform: rotate(45deg) translate(-130%, -130%);
            transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-70%, -70%);
            transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}
@media (min-width: 760px) {
  .home__span-med {
    font: 400 41px/41px "Roboto", sans-serif;
  }
  .home__span-big {
    font: bold 53px/53px "Roboto", sans-serif;
  }
  .home__span-sma {
    font: 400 29px/29px "Roboto", sans-serif;
  }
  .home__desc {
    font: 400 16px/22px "Roboto", sans-serif;
    margin: 40px auto 70px;
    max-width: 604px;
  }
}