.work__li {
  padding: 10px 15px 30px;
  margin: 0 -15px;
}
.work__li + .work__li {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 30px 15px;
}
.work__more {
  text-align: center;
  padding: 10px 0;
}
.work__more__text {
  font: 700 20px/24px "Roboto", sans-serif;
  margin: 5px auto 21px;
  max-width: 210px;
}

.work-item__aside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work-item__years {
  font: 700 21px/21px "Roboto", sans-serif;
  display: block;
  margin: 0 0 13px;
}
.work-item__title {
  font: 400 27px/27px "Roboto", sans-serif;
  color: #1CD3C1;
  margin: 0 0 15px;
}
.work-item__title-block {
  display: block;
}
.work-item__subtitle {
  font: 700 21px/21px "Roboto", sans-serif;
  color: #1CD3C1;
  display: block;
  margin: 0 0 16px;
}
.work-item a:hover {
  text-decoration: underline;
}
.work-item__desc {
  font: 400 16px/23px "Roboto", sans-serif;
  margin: 0 0 19px;
}
.work-item__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.work-item__skill {
  background: #1CD3C1;
  display: block;
  font: 700 12px/12px "Roboto", sans-serif;
  color: black;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7px 10px 5px;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .work__ul {
    margin: 30px auto;
  }
  .work__li {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .work__li + .work__li {
    padding-left: 0;
    padding-right: 0;
  }
  .work__more {
    padding: 30px 0 10px;
  }
  .work__more__text {
    font: 700 30px/26px "Roboto", sans-serif;
    max-width: 310px;
  }
  .work-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work-item__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .work-item__years {
    margin: 0 70px 0 0;
  }
}