.row {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  position: relative;
  width: 100%;
}

.button {
  padding: 12px 30px 10px;
  background: #1CD3C1;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font: bold 12px/12px "Roboto", sans-serif;
  letter-spacing: 3px;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  margin: 0 auto;
}
.button--secondary {
  background: #000;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button::after {
  width: 25px;
  height: 1px;
  background: white;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
  margin-top: 0px;
}

.button::before {
  content: "";
  -webkit-transform: rotate(-135deg) translateX(50%);
          transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: -1px;
}

.button:hover {
  padding: 12px 50px 10px 10px;
}

.button:hover::after,
.button:hover::before {
  opacity: 1;
  right: 14px;
}