@import '../vars.scss';

.hide {
    display: none;
}

::placeholder {
    color: white;
    opacity: 1;
}

::-ms-input-placeholder {
    color: white;
}

.contact {
    background: #1A1A1A;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100vw;

    &__center {
        margin: 0 auto;
        max-width: 500px;
    }


    &__form {
        flex-direction: column;
        display: flex;
        gap: 15px;
        max-width: 500px;
        margin: 0 auto;
        text-align: left;
    }

    &__title {
        font: 400 20px/20px $font-primary;
        color: $color-secondary;
        margin: 0 0 15px;
        display: inline-block;
        position: relative;

        &::after {
            content: '';
            background: $color-secondary;
            display: block;
            height: 2px;
            position: absolute;
            top: 10px;
            right: -30px;
            width: 20px;
        }
    }

    &__desc {
        font: 400 16px/22px Roboto, sans-serif;
        margin: 0 auto 20px;

        a {
            color: $color-terciary;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__message {
        &__title {
            font: 700 20px/20px $font-primary;
            margin: 40px 0 10px;
        }
    }

    &__input {
        background: #222222;
        border: 0;
        border-bottom: 1px solid white;
        font: 400 16px/18px $font-primary;
        color: white;
        padding: 10px 15px;
        width: 100%;
    }

    &__textarea {
        font: 400 16px/18px $font-primary;
        min-height: 200px;
        background: #222222;
        border: 0;
        resize: none;
        border-bottom: 1px solid white;
    }

    &__submit {

        box-shadow: none;
        padding: 12px 30px 10px;
        background: #1CD3C1;
        border: 0;
        color: #fff;
        text-transform: uppercase;
        font: 700 12px/12px Roboto, sans-serif;
        letter-spacing: 3px;
        position: relative;
        display: inline-block;
    }
}



@media (min-width: 768px) {}