@import '../vars.scss';

.work {

    &__li {
        padding: 10px 15px 30px;
        margin: 0 -15px;

        &+.work__li {
            border-top: 1px solid rgba(255, 255, 255, .15);
            padding: 30px 15px;
        }
    }

    &__more {
        text-align: center;
        padding: 10px 0;

        &__text {
            font: 700 20px/24px $font-primary;
            margin: 5px auto 21px;
            max-width: 210px;
        }
    }
}

.work-item {

    &__aside {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        display: flex;
    }

    &__years {
        font: 700 21px/21px $font-primary;
        display: block;
        margin: 0 0 13px;
    }

    &__title {
        font: 400 27px/27px $font-primary;
        color: $color-secondary;
        margin: 0 0 15px;

        &-block {
            display: block;
        }
    }

    &__subtitle {
        font: 700 21px/21px $font-primary;
        color: $color-secondary;
        display: block;
        margin: 0 0 16px;
    }

    & a:hover {
        text-decoration: underline;
    }

    &__desc {
        font: 400 16px/23px $font-primary;
        margin: 0 0 19px;
    }

    &__ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__skill {
        background: $color-secondary;
        display: block;
        font: 700 14px/14px $font-primary;
        color: black;
        border-radius: 4px;
        text-transform: uppercase;
        padding: 8px 10px 5px;
        letter-spacing: 1px;
    }
}

@media (min-width: 768px) {
    .work {
        &__ul {
            margin: 30px auto;
        }

        &__li {
            margin: 0;
            padding-left: 0;
            padding-right: 0;

            &+.work__li {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &__more {
            padding: 30px 0 10px;
        }

        &__more__text {
            font: 700 30px/26px $font-primary;
            max-width: 310px;
        }
    }

    .work-item {
        display: flex;

        &__aside {
            flex: 0 0 40%;
            flex-direction: row;
            flex-wrap: nowrap;
            display: flex;
            justify-content: space-between;
        }

        &__years {

            margin: 0 70px 0 0;
        }
    }
}