@import '../vars.scss';

.mod__experience {
    .mod__header {
        margin: 30px 0;
    }
}

.work {

    &__li {
        padding: 10px 15px 30px 35px;
        margin: 0 -15px;

        &+.work__li {
            padding: 30px 15px 30px 35px;
        }
    }

    &__more {
        text-align: center;
        padding: 10px 0;
        margin-left: -20px;

        &__text {
            font: 700 20px/24px $font-primary;
            margin: 5px auto 21px;
            max-width: 210px;
        }
    }
}

.work__line {
    background: rgba(255, 255, 255, .15);
    height: 0;
    position: absolute;
    width: 2px;
    margin: 30px 0 0 0;
}



.work-item {

    &__aside {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        display: flex;
    }


    &__years {
        font: 700 29px/29px $font-primary;
        display: block;
        margin: 0 0 13px;
    }

    &__bg {
        background: #1a1a1a;
        color: white;
        padding: 10px 0;
        transition: all 0.2s ease-out;
        opacity: 0.46;
        position: relative;

        &:before {
            content: '';
            width: 10px;
            height: 10px;
            background: white;
            opacity: 0.46;
            display: block;
            position: absolute;
            left: -32px;
            top: 15px;
            border-radius: 125px;
            border: 8px solid #1a1a1a;
        }
    }

    .mitad-viewport {
        color: white;
        opacity: 1;

        &:before {
            opacity: 1;
            background: white;
        }
    }

    &__title {
        font: 400 27px/27px $font-primary;
        color: $color-secondary;
        margin: 0 0 15px;

        &-block {
            display: block;
        }
    }

    &__subtitle {
        font: 700 21px/21px $font-primary;
        color: $color-secondary;
        display: block;
        margin: 0 0 16px;
    }

    & a:hover {
        text-decoration: underline;
    }

    &__figure {
        margin-bottom: -50px;
    }

    &__img {
        width: 50px;
        height: 50px;
    }

    &__title {
        margin-left: 70px;
    }


    &__desc {
        font: 400 16px/23px $font-primary;
        margin: 0 0 19px;
    }

    &__ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__skill {
        background: $color-secondary;
        display: block;
        font: 700 12px/12px $font-primary;
        color: black;
        border-radius: 4px;
        text-transform: uppercase;
        padding: 7px 10px 5px;
        letter-spacing: 1px;
    }
}

@media (min-width: 768px) {

    .mod__experience {
        .mod__header {
            margin: 30px 0 45px;
        }
    }


    .work {
        &__ul {
            margin: 30px auto;
        }


        &__li {
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            transition: all .2s ease;

            &+.work__li {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &__more {
            padding: 30px 0 10px;
        }

        &__more__text {
            font: 700 30px/26px $font-primary;
            max-width: 310px;
        }
    }

    .work__line {
        display: block;
        margin: 30px 0 0 79px;
    }

    .work-item {
        display: flex;

        &__aside {
            flex: 0 0 18%;
            flex-direction: row;
            flex-wrap: nowrap;
            display: flex;
            justify-content: space-between;
        }

        &__main {
            display: flex;
            gap: 20px;
        }

        &__title,
        &__subtitle {
            margin-left: 0;
        }

        &__img {
            width: 60px;
            height: 60px;
        }

        &__bg {
            &:before {
                display: none;
            }
        }

        &__years {

            margin: 0 0 0;
        }
    }
}