@import '../vars.scss';

.mod__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact {


    &__subtitle {
        font: 400 18px/19px $font-primary;
    }

    &__title {
        font: 700 34px/36px $font-primary;
        margin: -2px 0 0;
    }

    &__desc {
        font: 400 16px/19px $font-primary;
        margin: 23px 0 0;
    }

    &__link {
        margin: 50px auto;
    }




}