@import '../vars.scss';

.section {

    &--home {
        background: #111111;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100vw;
        max-height: 100vh;

        &:before {
            content: '';
            height: 250px;
            filter: blur(calc(250px / 5));
            background-image: linear-gradient(rgba(55, 235, 169, 60%), rgba(91, 55, 235, 60%));
            animation: rotate 40s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            position: absolute;
            width: 250px;
        }
    }

    &--about {
        background: #f1f1f1;
        padding: 25px 0;
        position: relative;
        z-index: 2;
    }

    &--work {
        background: #1A1A1A;
        color: white;
        position: relative;
        overflow: hidden;
        padding: 22px 0 32px;
    }

    &--contact {
        box-shadow: 0 0 14px 20px #00fff5;
        padding: 20px 0 50px;
        background: linear-gradient(45deg, rgba(0, 171, 194, 1) 0%, rgba(206, 253, 247, 1) 27%, rgba(141, 246, 234, 1) 40%, rgba(63, 238, 218, 1) 56%, rgba(0, 184, 177, 1) 100%);
        background: linear-gradient(0deg, #5b37eb94 0, #3feeda 50%, #00fff5 100%);

    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
    .section--home:before {
        width: 500px;
        height: 500px;
        filter: blur(calc(500px / 5));
    }

    .section--about {
        box-shadow: inherit;
    }

    .section--contact {
        padding: 40px 0 50px;
    }
}