.splash {
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
  width: 100vw;
}
.splash__icon {
  height: auto;
  margin: 0 0 20px;
  width: 90px;
}
.splash__span {
  display: block;
  font-size: 36px;
  margin: 0 0 5px;
}
.splash__span::before {
  content: "";
  background: white;
  height: 1px;
  display: block;
  margin: 0 auto 15px;
  width: 50px;
}